{
  "presets": [
    [
      "@babel/preset-env"
    ],
    "@babel/preset-flow"
  ],
  "plugins": ["@babel/plugin-transform-flow-strip-types"],

  "env": {
    "commonjs": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "useBuiltIns": false
          }
        ]
      ]
    },
    "es": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "useBuiltIns": false,
            "modules": false
          }
        ]
      ]
    }
  }
}
